{
  "WebDriverType": "chrome",
  "WaitTimeoutByDefault": 10,
  "WaitTimeoutShort": 5,
  "WaitTimeoutLong": 20,
  "WaitPageLoad": 40,
  "WaitImplicit": 5,
  "PingTimeout": 1000,
  "Host": "mail.ru",
  "MailBoxUrl": "/inbox",
  "ChromeBrowserPath": "c:\\Program Files (x86)\\Google\\Chrome\\Application\\chrome.exe",
  "FireFoxPath": "C:\\Program Files\\Mozilla Firefox\\firefox.exe",
  "Email_user2": "testandpest1@mail.ru",
  "Password_user2": "321test",
  "Name_user2": "userName1",
  "Family_user1": "userFam1",
  "Pseudonym1": "pseudonym1",
  "Email_user1": "testandpest2@mail.ru",
  "Password_user1": "654test"
}